/* Colors #5B86B8 #73ABEB #555F6B #FFFFFF*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.body{
	background-color:#555F6B !important;
	font-family: Arial !important;
}


#header{
	background-color: #73ABEB;
}

#headerimage{
	width:150px;
	height:150px;
}

.info{
	background-color: #5B86B8;
}

#blank{
	background-color: #f5f5f5;
}

.container-fluid{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
	padding-right:25px;
}

h1{
	font-size:300%;
}

p{
	font-size:150%;
}

label{
	font-size:125%;
}


.card{
	width:400px;
	margin: 10px auto;
}

.middle{
	border-style:solid;
	border-right-width:0px;
	border-left-width:0px;
	border-top-width: 0px;
}

.top{
	border-style:solid;
	border-right-width:0px;
	border-left-width:0px;
}

.btn, .validate{
	background-color:#FFFFFF;
	color:#73ABEB;
	border-color:#73ABEB;
	width:250px;
	height:50px;
	font-size:125%;
	
}

.plan{
	padding: 10px;
	margin: 10px auto;
}

.btn:hover, .validate:hover{
	color: white;
	border-color:#73ABEB;
	background-color:#73ABEB;
}

.white{
	background-color:#FFFFFF;
}

.serviceimg{
	width:700px;
	height: 412px;
	
}

.rownav{
	background-color: #5B86B8;
	padding-left: 10px;
}

//---Code from W3Schools---
#navbar {
  overflow: hidden;
  background-color: #5B86B8;
  position: absolute;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #5B86B8;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #73ABEB;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index:99;
}

.sticky + .content {
  padding-top: 60px;
}

//---End of code from W3Schools---

.form-control:focus{
	border-color:#000 !important;
}